<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>NepaliCongressApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Mont-Black.ttf</string>
		<string>Mont-BlackItalic.ttf</string>
		<string>Mont-Bold.ttf</string>
		<string>Mont-BoldItalic.ttf</string>
		<string>Mont-Book.ttf</string>
		<string>Mont-BookItalic.ttf</string>
		<string>Mont-DEMOExtraLight.ttf</string>
		<string>Mont-DEMOHeavy.ttf</string>
		<string>Mont-ExtraLight.ttf</string>
		<string>Mont-ExtraLightItalic.ttf</string>
		<string>Mont-Hairline.ttf</string>
		<string>Mont-HairlineItalic.ttf</string>
		<string>Mont-Heavy.ttf</string>
		<string>Mont-HeavyItalic.ttf</string>
		<string>Mont-Light.ttf</string>
		<string>Mont-LightItalic.ttf</string>
		<string>Mont-Regular.ttf</string>
		<string>Mont-RegularItalic.ttf</string>
		<string>Mont-SemiBold.ttf</string>
		<string>Mont-SemiBoldItalic.ttf</string>
		<string>Mont-Thin.ttf</string>
		<string>Mont-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
